// mixin che attribuisce le proprietà di una flip-card
@mixin flip-card(){
  position:relative;
  background-color: transparent;

  & >:first-child {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    & >:nth-child(-n +2){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    & >:nth-child(2){
      transform: rotateY(180deg);
      background-color: black;
    }
  }

  &:hover >:first-child {
    transform: rotateY(180deg);
  }
}

@mixin input-group(){
  height: 100%;
  border: 3px solid white;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  & >* {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
  }
  

  & input {
    margin-left: 0.5rem;
    height: 100%;
    flex-grow: 1;
    margin-left: 0.5rem;

    &:focus {
      outline: none;
    }

    & ::placeholder {
      color: lightgray;
    }
  }

  & button {
    height: 100%;
    cursor: pointer;
    border-right: 1px solid white;

    &:hover {
      background-color: white;

      i{
        background-color: white;
        color: black;
      }
    }
  }
}