@use '../styles/partials/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  background-color: $page-bg-color;
  color: $page-text-color;
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  text-align: center;
  border-bottom: 3px solid $primary-color;
  box-shadow: 0 0 10px 5px black;
}

// tablet view
@media screen and (min-width: 768px) {
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// desktop view
@media screen and (min-width: 1200px) {
  header {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: black;
    
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }
  }
}
